<!doctype html>
<html lang="{{ .Site.LanguageCode | default "zh-Hans" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ .Site.Params.color | default "#4c89bf" }}">
  <title>{{ if .IsHome }}{{ .Site.Title }} | {{ .Site.Params.description }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <link rel="icon" href="{{ .Site.Params.favicon }}">
  {{ partial "font.html" . }}
  <link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | absURL }}" title="{{ .Site.Title }}">
  <link rel="stylesheet" href="/theme/akinapro/style.css">
  <link rel="stylesheet" href="/theme/akinapro/highlight/highlight.min.css">
  <link rel="stylesheet" href="/theme/akinapro/highlight/github.min.css">
  <script src="/theme/akinapro/highlight/highlight.min.js"></script>
  {{ $wpFinal := resources.Get "css/wp-final.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $wpFinal.RelPermalink }}">
  {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body data-rsssl="1" class="{{ if .IsHome }}home blog hfeed{{ else if and (eq .Kind "page") (eq .Type "posts") }}wp-singular post-template-default single single-post postid-{{ .Params.wp_id | default .File.BaseFileName }} single-format-standard wp-theme-AkinaPro-master{{ else if eq .Layout "archives" }}wp-singular page-template page-template-page-archive page-template-page-archive-php page page-id-{{ .Params.wp_id | default .File.BaseFileName }} wp-theme-AkinaPro-master{{ else if eq .Layout "youlian" }}wp-singular page-template page-template-page-links page-template-page-links-php page page-id-{{ .Params.wp_id | default .File.BaseFileName }} wp-theme-AkinaPro-master{{ else }}page hfeed{{ end }}">
  <section id="index">
    {{ partial "mobile-nav.html" . }}
    <div id="page" class="site wrapper">
      {{ partial "header.html" . }}
      <div id="content" class="site-content">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer.html" . }}
    </div>
  </section>
  {{ partial "search.html" . }}
  {{ $main := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $main.RelPermalink }}" defer></script>
  {{ block "scripts" . }}{{ end }}
</body>
</html>
