<div id="mo-nav" class="mobile-panel" aria-hidden="true">
  <div class="mo_header_img"><img src="{{ .Site.Params.avatar | replaceRE "^/" "" | relURL }}" alt="{{ .Site.Title }}"></div>
  <div class="mo_header_title"><a class="author_local"><i class="iconfont">&#xe622;</i> {{ .Site.Params.location }}</a><a>{{ .Site.Title }}</a></div>
  <div class="mo_header_info"><a>{{ .Site.Params.signature }}</a></div>
  <div class="search-box"><input class="text-input" type="search" placeholder="搜索..."></div>
  <div class="menu-menu-1-container">
    <ul class="menu">
      {{ range .Site.Menus.main }}<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>{{ end }}
    </ul>
  </div>
</div>

<div class="openNav">
  <button class="iconflat nav-toggle" type="button" aria-label="打开菜单" data-toggle-menu><span class="icon"></span></button>
  <div class="site-branding"><div class="site-title"><a href="{{ .Site.Home.RelPermalink }}"><img src="{{ .Site.Params.logo | replaceRE "^/" "" | relURL }}" alt="{{ .Site.Title }}"></a></div></div>
</div>
