<section class="post-squares nextprev">
  {{ with .PrevInSection }}
  <a href="{{ .RelPermalink }}" class="full previous">
    {{ $prevImage := .Params.featured_image | default .Site.Params.heroImage }}
    <div class="background" style="background-image:url('{{ $prevImage | replaceRE "^/" "" | relURL }}');"></div>
    <span class="label">上一篇文章</span>
    <div class="info"><h3>{{ .Title }}</h3><hr></div>
  </a>
  {{ end }}
  {{ with .NextInSection }}
  <a href="{{ .RelPermalink }}" class="full next">
    {{ $nextImage := .Params.featured_image | default .Site.Params.heroImage }}
    <div class="background" style="background-image:url('{{ $nextImage | replaceRE "^/" "" | relURL }}');"></div>
    <span class="label">下一篇文章</span>
    <div class="info"><h3>{{ .Title }}</h3><hr></div>
  </a>
  {{ end }}
</section>
