{{ $category := index (.Params.categories | default (slice "")) 0 }}
<div id="crumbs">转载请注明原文链接：<a href="{{ .Site.Home.RelPermalink }}">首页</a>{{ with $category }} &gt; <a href="{{ printf "categories/%s/" (. | urlize) | relURL }}" rel="category tag">{{ . }}</a>{{ end }} &gt; <span class="current">{{ .Title }}</span></div>
{{ with .Site.Params.rewardImage }}
<div class="reward">
  <span>赏</span>
  <ul><li><img src="{{ . | replaceRE "^/" "" | relURL }}" alt="{{ $.Site.Params.rewardText | default "Reward" }}">{{ $.Site.Params.rewardText | default "Reward" }}</li></ul>
</div>
{{ end }}
<footer class="post-footer">
  <div class="post-footer-lincenses">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="nofollow noopener noreferrer">本站内容遵循知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>
  </div>
  <div class="post-tags"></div>
  <div class="post-like">
    <a href="javascript:;" data-action="ding" data-id="{{ .Params.wp_id }}" class="specsZan "><i class="iconfont">&#xe635;</i> <span class="count">0</span></a>
  </div>
  <div class="post-share">
    <ul class="sharehidden">
      <li><a href="https://service.weibo.com/share/share.php?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer" class="s-sina" title="分享到新浪微博"><i class="iconfont sina">&#xe623;</i></a></li>
      <li><a href="https://connect.qq.com/widget/shareqq/index.html?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer" class="s-qq" title="分享给QQ好友"><i class="iconfont qq">&#xe621;</i></a></li>
      <li><a href="javascript:void(0);" onclick="alert('微信分享功能需要您在微信客户端内点击右上角菜单进行分享哦~');" class="s-weixin" title="分享到微信"><i class="iconfont wechat">&#xe61e;</i></a></li>
      <li><a href="https://www.douban.com/share/service?href={{ .Permalink }}&name={{ .Title }}" target="_blank" rel="noopener noreferrer" class="s-douban" title="分享到豆瓣"><i class="iconfont douban">&#xe614;</i></a></li>
      <li><a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener noreferrer" class="s-twitter" title="分享到 X (原Twitter)"><i class="x-icon">X</i></a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="s-facebook" title="分享到Facebook"><i class="iconfont facebook">&#xe62b;</i></a></li>
      <li><a href="mailto:?subject=分享文章：{{ .Title }}&body=我发现了一篇很棒的文章《{{ .Title }}》，链接是：{{ .Permalink }}" rel="noopener noreferrer" class="s-email" title="通过邮件分享"><i class="iconfont email">&#xe7ab;</i></a></li>
    </ul>
    <i class="iconfont show-share">&#xe61f;</i>
  </div>
</footer>
